@charset "utf-8";

/* 
    Base
*/

html {
    /* ルートのフォントサイズを10px相当に指定 */
    font-size: 62.5%;
}

body {
    font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    color: #333;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

label,
button {
    cursor: pointer;
}

.container {
    width: 96rem;
    padding: 0 4%;
    margin: 5rem auto;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        margin: 1rem;
    }
}


/* 
    Header
*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24rem;
    margin: 0 auto;
}

.main-title {
    font-size: 3.2rem;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-item>a {
    color: #333;
    font-size: 1.6rem;
    margin-left: 3rem;
}

.nav-item>a:hover {
    opacity: 0.7;
}

@media screen and (max-width: 600px) {
    .header {
        height: 13rem;
        max-width: 100%;
        display: block;
    }
    .main-title {
        text-align: center;
    }
}


/* 
　Main
*/

.main-image {
    width: 100%;
    height: 480px;
    object-fit: cover;
}


/* 
    About
*/

.section-title {
    text-align: center;
    font-size: 2.5rem;
}

.about-infos {
    font-size: 1.4rem;
}

.info-address {
    padding: 0;
}

.info-address>li:first-child {
    margin-bottom: 1.5em;
}

.info-text {
    display: block;
}


/* 
    Works
*/

.works-lists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    padding: 0;
}

.list-item {
    width: 30%;
    margin-bottom: 2rem;
    overflow: unset;
}

.list-item img {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .works-lists {
        display: block;
    }
    .list-item {
        width: 100%;
    }
}


/* 
    News
*/

.news-list {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgb(171, 171, 171);
}

.news-date {
    border-bottom: 1px solid rgb(171, 171, 171);
    width: 20%;
    font-size: 1.6rem;
    padding: 1.5rem;
}

.news-text {
    margin: 0;
    width: 80%;
    font-size: 1.6rem;
    padding: 1.5rem;
    border-bottom: 1px solid rgb(171, 171, 171);
}

@media screen and (max-width: 600px) {
    .news-list {
        display: block;
    }
    .news-date {
        font-size: 1.2rem;
        border-bottom: 0;
        padding-bottom: 0;
    }
    .news-text {
        padding-top: 0;
        font-size: 1.3rem;
        width: 100%;
    }
}


/* 
    Contact
*/

.form-table {
    width: 100%;
}

.form-table th {
    width: 10%;
    vertical-align: top;
    text-align: left;
}

.form-label {
    width: 100%;
    font-size: 1.6rem;
    font-weight: normal;
}

.form-table td {
    width: 90%;
}

.form-input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.2rem;
    border: rgb(198, 195, 195) 1px solid;
}

.form {
    text-align: center;
}

.form-button {
    background-color: #333;
    color: white;
    padding: 1.6rem 10rem;
    border: 0;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: white;
    color: #333;
    border: 1px #333 solid;
}


/* 
    Footer
*/

.footer {
    background-color: #333;
    text-align: center;
    color: white;
    padding: 1rem;
}