@charset "utf-8";

/* 
    Base
*/

html {
    /* ルートのフォントサイズを10px相当に指定 */
    font-size: 62.5%;
}

body {
    font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    color: #333;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 96rem;
    padding: 0 4%;
    margin: 0 auto;
}


/* 
    Header
*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24rem;
    margin: 0 auto;
}

.main-title {
    font-size: 3.2rem;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-item>a {
    color: #333;
    font-size: 1.6rem;
    margin-left: 3rem;
}

.nav-item>a:hover {
    opacity: 0.7;
}


/* 
　Main
*/

.main-image {
    width: 100%;
    height: 480px;
    object-fit: cover;
}


/* 
    About
*/

.section-title {
    text-align: center;
    font-size: 2.5rem;
}

.about-infos {
    font-size: 1.4rem;
}

.info-address {
    padding: 0;
}

.info-address>li:first-child {
    margin-bottom: 1.5em;
}

.info-text {
    display: block;
}